{% extends "base.html" %}

{% block extra_css %}
    <style>
        .container{
            margin-top:20px !important;
            border:2px solid #818589;
            box-shadow: 3px 3px 6px #818589;
            border-radius: 5px;
            display:flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap:90px;
            width:75%;
            height:200px;
            margin:auto;
            position:relative;
            overflow:auto;
        }
        .excess{
              font-size: 12px;
              display:inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 13ch;
        }
        .box{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 15px;
            /* border:2px solid #818589;
            box-shadow: 3px 3px 6px #818589;
            border-radius: 5px; */
            padding:10px 10px 10px 10px;
            margin:10px 10px 10px 10px;
            text-align:center;
        }
        .boxroute{
           position:absolute;
           right: 10px;;
           bottom:10px;
        }
        .boxtotalcost{
            position:absolute;
            bottom:10px;
            left:80px;
        }
        .boxtotaltime{
            position:absolute;
            bottom:10px;
            right:400px;
        }
        .arrow{
            padding:0px;
            position:absolute;
            left:250px;
            top:15px;
        }
        .arrow2{
            left:500px;
        }
        .arrow3{
            left:700px;
        }
        
    </style>
{% endblock %}
{% block content %}
    <main>
        {% for flg in flights %}
        <div class="container">
            <div id="A" class="box boxA">A<br><center><span class="excess">{{start_add}}</span></center></div>
            <div id="Arrow" class="box arrow arrow1"><img src="../static/images/arrow.png" width="50px" height="50px"></div>
            <div id="B" class="box boxB">B<br><center><span>{{start_air}}</span></center></div>
            <div id="Arrow" class="box arrow arrow2"><img src="../static/images/arrow.png" width="50px" height="50px"></div>
            <div id="C" class="box boxC">C<br><center><span>{{end_air}}</span></center></div>
            <div id="Arrow" class="box arrow arrow3"><img src="../static/images/arrow.png" width="50px" height="50px"></div>
            <div id="D" class="box boxD">D<br><center><span class="excess">{{end_add}}</span></center></div>
            <div id="More details..." class="box boxroute"><a class="btn btn-outline-dark" href="{{url_for('final',start_cab_time=start_cab_time,end_cab_time=end_cab_time,start_fare=start_fare,end_fare=end_fare,end_air=end_air,start_air=start_air,flg=[flg],start_add=start_add,end_add=end_add)}}">More details...</a></div>
            <div id="totalcost" class="box boxtotalcost">Total Cost:Rs.{{flg[5]}}+{{start_fare+end_fare}}</div>
            <div id="totattime" class="box boxtotaltime">Total Time:{{flg[0]}}+{{start_cab_time+end_cab_time}}M</div>
         </div>
        {% endfor %}
    </main>

    
{% endblock %}