{% extends "base.html" %}

{% block extra_css %}
        <style>
        body{
            background-image: url(../static/images/travel2.jpeg);
            background-size: cover;
            background-repeat:no-repeat;
            background-position:center;
        }
        .blurred-background {
            backdrop-filter: blur(5px); /* Apply blur effect */
            padding: 20px; /* Adjust padding as needed */
            width: fit-content; /* Set a specific width */
            margin: auto; /* Center the div horizontally */
            border-radius: 15px; /* Optional: Add rounded corners */
        }
        
        label{
            font-size: 17px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
        #search{
            margin-bottom:10px;
        }
        form{
            padding-left:5px;
            padding-right:14px;
        }
        input{
            width:75%;
            height:25px;
        }
        #container{
            margin-top:10px !important;
            margin:auto;
            width: 50%;
            padding-top:5px;
            padding-bottom:5px;    
        }
        #departurebox{
            padding-top:5px;
            padding-bottom:15px;
        }
        #adultcountbox{
            padding-top:5px;
            padding-bottom:15px;
        }
        #Submit{
            text-align:center;
            flex-wrap: wrap;
            width:25%;
            height:50px;
            border: 0;
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #DE3163;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
        
        label{
            text-align:left;
        }
        h1{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            /* margin-bottom:20px; */
        }
        #Submit:hover{
            background-color: #DE3163;
            border:1px solid #DE3163;
        }


    </style>
{% endblock %}
{% block content %}
    <center>
        <div id="container" class="blurred-background" >
            <form id="searchelements" method="post" action="{{url_for('loading_locations')}}">
                <center><h1>Plan Your Trip</h1></center>
                <div id="frombox" >
                <label for="from">Starting point</label><br>
                <input id="from" name="address" type="text" placeholder="Enter the starting location" required >
                </div>
                <div id="budget">
                    <label for="budget">Budget(in rupees)</label><br>
                    <input type="number" id="budget"name="budget" placeholder="Please enter the budget for the trip" required min="1000">
                </div>
                <div id="departurebox">
                    <label for="departure">Departure date</label><br>
                    <input id="departure" name="date" type="date"  placeholder="Departure date" required>
                </div>

                <center><input class="btn btn-primary" type="submit" value="SUBMIT" id="Submit"></center>
            </form>

            
        </div>
    </center>


{% endblock %}