{% extends "base.html" %}

{% block extra_css %}
    <style>
        .main-container{
            border:2px solid grey;
            border-radius: 20px;
            display:flex;
            height:auto;
            max-width: 75%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:50px;
        }
        .box{
            width:100%;
            height: auto;
            font-size: x-large;
        }
        #line{
            border:1px solid grey;
            width:90%;
            border-radius: 50px;
            margin:0px;
        }
        .marker{
            margin-top:5px;
            display:flex;
            justify-content: center;
            align-items: center;
            gap:50px;
            
        }
        .location{
            display:flex;
            justify-content: center;
            align-items: center;
            gap:30px;
            margin-top:20px;
            font-size:medium;
           
        }
        .endcard{
            display:flex;
            justify-content: center;
            align-items: center;
            gap:150px;
            margin-top:20px;
            margin-bottom:5px;
        }

        .AirportBox{
            height:100px;
        }
        #card{
            margin-top:10px;
            border-radius: 10px;
            border:3px solid white;
            background-color: white;
            max-width:100%;
            height:100px;
            margin:auto;
            position:relative;
            box-shadow: 2px 2px 5px #696969;

        }
        #airlinesname{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:large;
            background-color: white;
            position:absolute;
            top:37px;
            left:5px;
            float:left;
            margin-left:25px;
        }
        #departure{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:large;
            background-color: white;
            position:absolute;
            top:37px;
            left:75px;
            float:left;
            margin-left:200px;
        }
        #duration{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:large;
            background-color: white;
            position:absolute;
            top:37px;
            left:125px;
            float:left;
            margin-left:350px;
        }
        #arrival{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:large;
            background-color: white;
            position:absolute;
            top:37px;
            left:197px;
            float:left;
            margin-left:550px;
        }
        #prices{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:large;
            background-color: white;
            position:absolute;
            top:37px;
            left:245px;
            float:left;
            margin-left:700px;
        }
        #loc_departure{
        text-transform:capitalized !important;
        }
        .bandc{
            margin-bottom:5px;
        }
    </style>
{% endblock %}
{% block content %}
    <main>
        <div class="main-container main-box mx-auto my-5 mb-5">
            <div class="box CabBox1 mt-5">
                <div class="marker">
                    <div id="A">A</div>
                    <div id="arrow1"><i style = "color:red;" class="bi bi-arrow-right h2"></i></div>
                    <div id="B">B</div>
                </div>
                <div class="location">
                    <div id="start">{{start_add}}</div>
                    <div id="arrow2"><i style = "color:red;" class="bi bi-arrow-right h2"></i></div>
                    <div id="loc_departure">{{start_air}} Airport</div>
                </div>
                <div class="endcard ">
                    <div id="cost">Cost: Rs.{{start_fare}}</div>
                    <div id="time">Time: {{start_cab_time}} min</div>
                    <div id="showmap" ><a class="btn btn-outline-dark" href="{{url_for('map',start_add=start_add,id=1)}}">Show map route..</a></div>
                </div>
            </div>
            <div id="line" ></div>
            <div class="box AirportBox">

                <div class="marker bandc mb-4">
                    <div id="B">B</div>
                    <div id="arrow3"><i style = "color:red;" class="bi bi-arrow-right h2"></i></div>
                    <div id="C">C</div>
                </div>
                <!-- insert the airport details here -->
                <!-- just copy and paste and let me know is this fine -->
                <div id="card" class="">
                <div id="airlinesname">{{flg[3]}}</div>
                <div id="departure">{{flg[1]}}<br><center>Departure</center></div>
                <div id="duration">{{flg[0]}}<br><center>{{flg[4]}} Stops</center></div>
                <div id="arrival">{{flg[2]}}<br><center>Arrival</center></div>
                <div id="prices">Rs.{{flg[5]+flg[6]}}<br><center>Per Adult</center></div>
                </div>
            </div>
            <div id="line" class="mt-5"></div>
            <div class="box CabBox2">
                <div class="marker">
                    <div id="C">C</div>
                    <div id="arrow4"><i style = "color:red;" class="bi bi-arrow-right h2"></i></div>
                    <div id="D">D</div>
                </div>
                <div class="location">
                    <div id="loc_arrival">{{end_air}} Airport</div>
                    <div id="arrow5"><i style = "color:red;" class="bi bi-arrow-right h2"></i></div>
                    <div id="destination">{{end_add}}</div>
                </div>
                <div class="endcard">
                    <div id="cost">Cost: Rs.{{end_fare}}</div>
                    <div id="time">Time: {{end_cab_time}} min</div>
                    <div id="showmap"><a class="btn btn-outline-dark" href="{{url_for('map',end_add=end_add,id=2)}}">Show map route..</a></div>
                </div>
            </div>
            <div id="line" class="mb-5" ></div>
        </div>
    </main>
{% endblock %}