{% extends "base.html" %}
{% block content %}
<div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">duration</th>
              <th scope="col">Departure</th>
              <th scope="col">Arrival</th>
              <th scope="col">Airline</th>
              <th scope="col">Stops</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
          {% for flight in flights %}
            <tr>
              <td>1</td>
              <td>{{flight[0]}}</td>
              <td>{{flight[1]}}</td>
              <td>{{flight[2]}}</td>
              <td>{{flight[3]}}</td>
              <td>{{flight[4]}}</td>
              <td>{{flight[5]}}</td>
              <td>{{flight[6]}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}