{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="../static/css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
 integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
 crossorigin=""></script>

    <script type="text/javascript">
    const start_add={{cords.start_add|tojson}}
    const end_add={{cords.end_add|tojson}}
    const from_lat ={{cords.from_lat|tojson}}
    const from_long ={{cords.from_long|tojson}}
    const to_lat ={{cords.to_lat|tojson}}
    const to_long ={{cords.to_long|tojson}}
    </script>
{% endblock %}
{% block content %}
    <div id="my-map"></div>

    <script src="../static/map.js"></script>


{% endblock %}

